@import "_variable.scss";


#header{
    .top{
        padding: 20px;
        display: none;
        transition: 0.3 ease-in-out;
        a{
            text-decoration: none;
            &.generalPerson{
                color: $black;
                font-weight: 600;
                font-size: 14px;
            }
            &.businessPerson{
                font-weight: 300;
                color: $black;
                font-size: 14px;
            }
            &.service{
                font-weight: 300;
                color: $black;
                font-size: 14px;
                i{
                    color: $red;
                }
            }   
        }
        .language{
            font-weight: 300;
            color: $black;
            font-size: 14px;
        }
        .searchButton{
            i{
                border: 1px solid $red;
                padding: 5px;
                border-radius: 5px;
                font-size: 13px;
                color: $red;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

}

.searchPage{
    // display: none;
    padding: 20px;
    background-color: #fafafa;
    transition: 0.3s ease-in-out;
    img{
        padding: 7px;
    }
    .search{
        font-size: 20px;
        padding: 10px;
    }
    input{
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 15px;
    }
    .axtaris{
        text-decoration: none;
        color: $red;
        padding: 10px;
    }
    .mark{
        background-color: grey;
        color: white;
        border-radius: 50%;
        padding: 0px 3px;
        font-size: 15px;
    }
}